

div{
    background-color:cadetblue;
    width: 12em;
    height: 12em;
    text-align: center;
    vertical-align: middle;
}
button{
	background-color:beige;
}
#help{
	position:absolute;
	background-color:crimson;
	color: white;
	padding: 0.3em;
	visibility: hidden;
}
