/* General styles */

body{
  margin-left: 20%;
}

/* Styles for the table */
table{
  background-color: #eeeeee;
  color: white;
}

table td{
  padding: 0.5em;
  color: black;
  text-align: center;
}
table th{
  background-color: #027d79;
  padding : 0.5em;
  font-size: large;
}

form{
  display: inline-block;
  float: left;
  padding: 0.5em;
}
/* TODO: Styles for the form */


.error{
background-color: red;

}

.valid{
background-color: green;

}
/* TODO:  Styles for error checking */
